.header-profile {
	display: flex;
	justify-content: space-between;
	margin-bottom: 80px;
	margin-top: 80px;
	.profile-username {
		color: var(--secondary-color-1);
	}

	div {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 5px;

		a {
			padding-top: 3px;
		}

		a:hover {
			color: var(--secondary-color-1);
		}

		a:hover svg path {
			stroke: var(--secondary-color-1);
		}
	}
}

.profile-content {
	display: flex;
	justify-content: space-between;
	gap: 100px;
}

.profile-nav {
	display: flex;
	flex-direction: column;
	gap: 24px;

	div {
		h3 {
			padding-bottom: 16px;
			font-size: 16px;
		}

		ul {
			padding-left: 35px;

			display: flex;
			flex-direction: column;
			gap: 8px;

			li {
				a {
					color: var(--text-color-2);
					font-size: 16px;
				}

				a:hover {
					color: var(--secondary-color-1);
				}
			}
		}
	}
}

.profile-edit {
	padding: 40px 80px;
	background-color: white;
	border-radius: 10px;

	box-shadow: 0px 1px 13px 0px rgba(0, 0, 0, 0.05);

	width: 850px;

	input {
		outline: 0;
		border: 0;
		width: 100%;
		padding: 13px;
		border-radius: 5px;
		background-color: var(--input-bg);
	}

	.profile-edit-form {
		h3 {
			color: var(--secondary-color-1);
			font-size: 20px;
			padding-bottom: 16px;
		}

		.profile-edit-data {
			display: flex;
			flex-direction: column;
			gap: 24px;

			div {
				display: flex;
				justify-content: space-between;
				gap: 50px;

				.input-wrapper {
					display: flex;
					width: 100%;
					flex-direction: column;
					gap: 8px;

					p {
						font-size: 16px;
					}

					p:first-child {
						color: gray;
						font-size: 12px;
					}
				}
			}
		}
	}

	.profile-edit-password {
		display: flex;
		flex-direction: column;
		margin-top: 20px;

		gap: 16px;

		h3 {
			font-size: 20px;
			color: var(--secondary-color-1);
		}
	}
}

.profile-edit-buttons {
			display: flex;
			justify-content: end;
			gap: 15px;
			margin-top: 12px;
			font-size: 16px;

			.cancel-btn {
				color: black;
				padding: 16px;
				border-radius: 5px;
			}

			.cancel-btn:hover {
				background-color: var(--input-bg);
			}

			.save-btn {
				padding: 16px;
				background-color: var(--button-color-2);
				border-radius: 5px;
				color: white;
			}

			.save-btn:hover {
				background-color: var(--button-hover);
			}
		}