{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <ul class="product-list">
        {% for product in products %}
            <li class="product-item">
                <div class="product-block">
                    <img src="{{ product.get_image }}" alt="">
                    <p class="product-name">{{ product.name }}</p>
                    <p class="product-price">${{ product.price }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}