{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
<section class="products">
                        <h4 class="products-subtitle">Our Products</h4>
                        <h2 class="products-title">{{ category_name }}</h2>
                        {% if products %}
                            <ul class="products-list">
                            {% for product in products %}
                                <li class="products-item">
                                    <div class="product-block">
                                    <div class="product-image">
                                        <img src="{{ product.get_image }}" alt="" />
                                    </div>
                                    <div class="product-info">
                                        <p class="product-category">{{ product.category }}</p>
                                        <h4 class="product-name">{{ product.name }}</h4>
                                        <div class="product-rating">
                                            <img class="product-star" src="{% static 'assets/star.svg' %}" alt="" />
                                        </div>
                                        <div class="product-actions">
                                            <p class="product-price">${{ product.price }}</p>
                                            <a href="{% url 'add_to_cart' product_id=product.id %}" class="product-add-cart">+</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                            <p>Продуктов нет</p>
                        {% endif %}
                    </section>
{% endblock %}